{% extends 'base.html.twig' %}

{% block title %}Grande Linci LV - Home{% endblock %}

{% block body %}

<div class="container-fluid d-flex align-items-start justify-content-center home-preview">
    <div class="logo-group d-flex flex-column align-items-center justify-content-center">
        <h1>GRANDE LINCI* LV</h1>
        <div class="arrow-group d-flex justify-content-between align-items-center">
        <div class="arrow-end"><img src="{{ asset('img/arrow/ending.svg') }}" alt="arrow end"></div>
        <div class="arrow-body"></div>
        <div class="arrow-end"><img src="{{ asset('img/arrow/ending.svg') }}" alt="arrow end"></div>
        </div>
        <p class="sublogo">Maine Coon and Oriental Cattery</p>
    </div>
</div>
<div class="home container-fluid">
<p>cvdsvcsd</p>
</div>
<div class="home container-fluid">
<p>cvdsvcsd</p>
</div>
{% endblock %}
