body{
    background: #ff00ff;
    font-family: Arial, sans-serif;
    /* font-family: "Cormorant Garamond", serif; */
}
nav .logo{
    font-family: "Charm", cursive;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 0;
    color: var(--grey);
}
nav.navbar{
    display: flex;
    flex-direction: column;
    padding: 0;
}
main{
    margin-top: 97px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: var(--grey);
    font-weight: 600;
}
.preheader .navbar-nav .nav-link{
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
}
.preheader{
    background: var(--grey);
}
.home-preview{
   height: calc(100vh - 97px);
   background-image: url(../img/background.webp);
   background-size: cover;
   background-repeat: no-repeat;
}   
.home{
    height: 350px;
}