body{
    background: var(--green);
    font-family: Arial, sans-serif;
}
nav .logo{
    font-family: "Charm", cursive;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 0;
    color: var(--grey);
}
nav.navbar{
    display: flex;
    flex-direction: column;
    padding: 0;
}
nav button.btn.nav-link{
    border: none;
    font-size: 16px;
    color: var(--green);
}

.login-container{
    color: white !important;
    margin-top: 20px;
}
a{
    color: black;
}
p a{
    color: white;
}
button a{
    text-decoration: none;
    color: var(--grey-light);
}
button.btn:hover{
    background: var(--green-light);
    border: 2px solid var(--green-light);
}
button.btn:hover a{
    color: white;
}
button.btn:active, :not(.btn-check)+.btn:active{
    background: var(--green);
    border: 2px solid var(--green);

}
button.btn:active a, :not(.btn-check)+.btn:active a{
    color:white;
}
main{
    margin-top: 97px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: var(--grey);
    font-weight: 600;
}
.preheader .navbar-nav .nav-link{
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
}
.preheader{
    background: var(--grey);
}
.home-preview{
   height: calc(100vh - 97px);
   background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url(../img/background.webp);
   background-size: cover;
   background-repeat: no-repeat;
   filter: brightness(0.8) contrast(1.2);
}
.home{
    height: 350px;
}
.logo-group{
    width: 650px;
    margin-top: 140px;
    top: 0;
}
.logo-group::before{
    content: '';
    position: absolute;
    width: 650px;
    height: 214px;
    filter: blur(10px);
    background: radial-gradient(#ffffff40, #ffffff00);
    /* backdrop-filter: blur(4px); */
}
.arrow-group{
    width: 100%;
}
.arrow-end:last-of-type{
    rotate: 180deg;
}
.arrow-body{
    height: 2px;
    width: 100%;
    background: white;
}
h1{
    font-size: 64px;
    font-family: "Charm", cursive;
    color: var(--white);
    margin: 0;
}
.sublogo{
    color: var(--white);
    font-family: "Cormorant Garamond", serif;
    font-size: 36px;
    text-align: center;
}
h1, .arrow-group, p{
    z-index: 2;
}
.down-link{
    margin-bottom: 25px;
}
.down-link p{
    font-size: 20px;
    text-decoration: underline;
    color: var(--white);
    margin-bottom: 5px;
}
.cat-preview.left{
    bottom: -45px;
    left: 50px;
}
.cat-preview.right{
    bottom: 0;
    right: 0;
}
.section-green{
    background: var(--green);
    color: var(--white);
}
h2{
    font-size: 72px;
    line-height: 1;
}
h3{
    font-size: 32px;
}
.section-green h2{
    color: var(--green-light);
}
.section-white h2{
    color: var(--grey-light);
}
.title p{
    font-size: 18px;
    text-align: center;
}
/*.title{*/
/*    width: 660px;*/
/*}*/
.section{
    padding-top: 60px;
    padding-bottom: 90px;
}
h1, h2{
    text-transform: uppercase;
}
h2{
    font-family: "Cormorant Garamond", serif;
}
h4{
    font-size: 24px;
}
.section-white{
    background-color: var(--white);
    color: var(--grey-light);
}
/*.section-inner{*/
/*    margin-bottom: 60px;*/
/*}*/
.section-inner.about-us.home{
    gap: 87px;
    height: auto;
}
.section-inner.about-us{
    gap: 130px;
}
.section-inner.about-us .aside-text{
    gap: 35px;
}
.aside-advantages{
    gap: 20px;
}
.aside-advantages .image-container{
    width: 570px;
}
.aside-advantages p{
    margin-bottom: 8px;
}
.aside-advantages h3{
    font-family: "Cormorant Garamond", serif;
}
.shaded-grey{
    /*filter: var(--shadow-grey);*/
}
.shaded-green{
    /*filter: var(--shadow-green);*/
}
.about-us .side-image{
    min-width: 292px;
    height: 292px;
}
.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.swiper {
    width: 100%;
    height: 360px;
}
.slider-container{
    margin-top: 65px;
}
.swiper-slide{
    height: 80%;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid white;
}
.swiper-pagination-bullet-active{
    background: white;
}
.swiper-kittens .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid var(--grey-light);
}
.swiper-kittens .swiper-pagination-bullet-active{
    background: var(--grey-light);
}
.litter .image-container{
    margin-bottom: 20px;
}
.section-kittens{
    column-gap: 20px;
    row-gap: 70px;
}
.kitten-status{
    padding: 14px 28px;
    margin-top: 20px;
}
.status-home{
    background: var(--grey-light);
    color: white;
}
.status-available{
    background: var(--greeт-light-extra);
    color: white;
}
.status-reserved{
    border: 2px solid var(--grey-light);
    color: var(--grey-light);
}
footer{
    background: var(--grey);
    color: var(--white);
}
.footer-logo{
    width: 340px;
    font-family: "Charm", cursive;
}
.footer-logo p{
    font-size: 20px;
}
footer ul li{
    margin-bottom: 20px;
}
footer h6{
    font-weight: 600;
    margin-bottom: 30px;
}
footer .container.p-4{
    padding-top: 40px !important;
}
.btn{
    padding: 14px 28px;
    border: 2px solid var(--green);
    border-radius: 0;
    background: var(--white);
    font-size: 20px;
    color: var(--green);
}
.form-wrapper form>div{
    display: flex;
    flex-direction: column;
}
.form-wrapper form{
    flex-direction: column;
    display: flex;
    gap: 25px;
}
.form-wrapper input, .form-wrapper textarea{
    border: none;
    border-bottom: 2px solid var(--grey-light);
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
}
.form-wrapper button{
    width: fit-content;
}
.form-desc{
    font-size: 20px;
    margin-bottom: 20px;
}
.preview-content{
    top: 97px;
    height: calc(100vh - 97px);
}
.main-content{
    top: 100vh;
    padding: 0;
}
.logo-group.blured h1{
    font-family: "Cormorant Garamond", serif;
    text-transform: capitalize;
}
.logo-group.blured .sublogo{
    margin: 0;
}
.logo-group.blured{
    backdrop-filter: blur(10px);
    padding-bottom: 24px;
    height: fit-content;
}
.social-link{
    width: 55px;
    height: 55px;
}
.social-links{
    gap: 55px;
    margin-top: 40px;
}
.title p.subtext{
    font-size: 20px;
    margin-top: 40px;
    width: 860px;
}
.section-green .section-inner.about-us .aside-text p{
    text-align: end;
}
.reversed .title{
    width: 100%;
    text-align: end;
}
.image-lg{
    height: 452px;
}
.image-md{
    height: 383px;
}
.image-sm{
    height: 310px;
}
.image-xs{
    height: 241px;
}
.photo-section{
    gap: 20px;
}
.vertical-images-container div{
    gap: 20px;
}
.cat-image{
    margin-bottom: 20px;
}
.cat-card{
    gap: 70px;
}
.cat-card h3{
    font-family: "Cormorant Garamond", serif;
}
.cat-card p{
    font-size: 20px;
}
.litter-button{
    width: 200px;
    height: 200px;
    padding: 0;
    gap: 7px;
    cursor: pointer;
}
.litter-button span{
    font-size: 72px;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", serif;
}
.litter-button.available{
    background: var(--green);
    color: white;
}
.litter-button.not-available{
    background: transparent;
    border: 2px solid var(--green);
    color: var(--green);
}
.slider-container.swiper-kittens{
    margin-top: 35px;
    padding: 0px 60px;
}
.swiper-button-prev, .swiper-button-next{
    width: 43px; /* Задайте ширину картинки */
    height: 43px;
    top: var(--swiper-navigation-top-offset,30%);
}
.swiper-button-prev:after{
    content: ''; /* Убираем стандартную стрелку */
    display: block; /* Обязательно для отображения изображения */
    width: 100%; /* Задайте ширину картинки */
    height: 100%; /* Задайте высоту картинки */
    background-image: url('/img/icons/slider-arrow.svg'); /* Укажите путь к вашей картинке */
    background-size: contain; /* Чтобы изображение корректно вписалось в блок */
    background-repeat: no-repeat; /* Убираем повторение изображения */
    background-position: center; /* Центрируем изображение */
}
.swiper-button-next:after{
    content: ''; /* Убираем стандартную стрелку */
    display: block; /* Обязательно для отображения изображения */
    width: 100%; /* Задайте ширину картинки */
    height: 100%; /* Задайте высоту картинки */
    background-image: url('/img/icons/slider-arrow.svg'); /* Укажите путь к вашей картинке */
    background-size: contain; /* Чтобы изображение корректно вписалось в блок */
    background-repeat: no-repeat; /* Убираем повторение изображения */
    background-position: center; /* Центрируем изображение */
    transform: rotate(180deg);
}
.litter .title p{
    font-size: 20px;
}
.horizontal-line{
    height: 2px;
    background: white;
}
.vertical-line{
    width: 2px;
    background: white;
}
.litter .title{
    margin-bottom: 35px;
}
.breadcrumb a{
    text-decoration: none;
    color: white;
}
.breadcrumb .active a{
    font-weight: 600;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: white;
}
.arrow-divider--green{
    margin-bottom: 35px;
}
p{
    font-size: 18px;
}
.ungapped{
    margin-bottom: 35px;
}
.gallery.main-content .title{
    gap: 35px;
    margin-bottom: 45px;
}
.contacts.main-content .section-green h2{
    text-align: center;
}
@media (max-width:1024px){
    .section-inner.about-us.home{
        gap: 40px;
    }

    .about-us .side-image{
        min-width: auto;
        height: fit-content;
    }
    .section-inner.about-us .aside-text{
        gap: 25px;
    }
    .section-inner.about-us .aside-text p{
        margin-bottom: 0;
    }
    h2{
        font-size: 40px;
    }
    .btn{
        font-size: 18px;
    }
    .custom-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 0;
        margin-left: 0;
    }
    .custom-container.container{
        max-width: none;
    }
    .section.litter{
        padding-left: 0;
        padding-right: 0;
    }
    .form-desc{
        font-size: 18px;
    }
    .navbar>.container{
        height: 65px;
    }
    main{
        margin-top: 65px;
    }
    .home-preview{
        height: calc(100vh - 65px);
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 18px;
    }
    .nav-divider{
        padding: 30px 0;
    }
    .footer-logo h3{
        font-size: 28px;
    }
}

@media (max-width:992px) {
    .footer-logo{
        width: fit-content;
    }
    .cat-preview.left{
        width: 18em;
    }
    .cat-preview.right{
        width: 20em;
        right: 1.5em;
    }
    .about-us .side-image{
        display: none;
    }
    .title p.subtext{
        width: auto;
    }
    .section-green h2{
        text-align: center;
    }
}

@media (max-width:768px){
    h1{
        font-size: 48px;
    }
    .sublogo{
        font-size: 32px;
    }
    .cat-preview.right{
        width: 18em;
    }
    .cat-preview.left{
        width: 16em;
    }
    .section-inner.about-us.home{
        flex-direction: column;
        height: auto;
    }
    .about-us .side-image.image-container img{
        height: 15em;
    }
    .litter .section-inner{
        gap: 45px;
    }
    .litter .section-inner:last-child{
        margin-bottom: 45px;
    }
    .section-kittens{
        row-gap: 50px;
    }
    .cat-card{
        flex-direction: column;
        gap: 35px;
    }
    .image-sm, .image-xs{
        height: auto;
    }
}
@media (max-width: 650px){
    .logo-group, .logo-group::before{
        width: 425px;
    }
    .cat-preview.right, .cat-preview.left{
        width: 14em;
    }
    .cat-preview.left{
        left: 30px;
    }
    .aside-advantages .image-container{
        width: auto;
    }
}
@media (max-width: 448px){
    .title p{
        text-align: left;
    }
}