:root{
    --green: #122715;
    --green-light: #A0D87E;
    --greeт-light-extra: #7ADC2D;
    --grey: #414D52;
    --grey-light: #69777D;
    --white: #FFF9FC;

    --shadow-grey: drop-shadow(0 0 10px var(--grey));
    --shadow-green: drop-shadow(0 0 10px var(--greeт-light-extra));
}
@media (max-width: 768px) {
    :root {
        --shadow-grey: drop-shadow(0 0 5px var(--grey));
        --shadow-green: drop-shadow(0 0 5px var(--greeт-light-extra));
    }
}