{% extends 'home/index.html.twig' %}

{% block active_litter %}
    <div class="title d-flex flex-column align-items-center justify-content-center">
        <h2>LITTER {{ litter.name }}</h2>
        <img src="{{ asset('img/arrow/simple-arrow.png') }}" alt="arrow">
        <p>{{ litter.date | date('d.m.Y') }}</p>
    </div>
    <h2>Hello</h2>
{% endblock %}