{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Select Active Litter</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}
