{% extends '@EasyAdmin/page/content.html.twig' %}
{% block index %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block content %}
    <h1>Active Litter: {{ litter.name }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}
