<!-- Footer -->
        <footer>
            <!-- Grid container -->
            <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-5 col-sm-12 mb-4 mb-md-0">
                    <div class="footer-logo d-flex flex-column align-items-center">
                        <h3 class="text-uppercase">Grande Linci LV</h3>
                        <div class="image-container d-xs-none d-md-block"><img src="{{ asset('img/arrow/simple-arrow.png')}}" alt="arrow"></div>
                        <p class="d-xs-none d-md-block">
                            Maine Coon and Oriental Cattery
                        </p>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-2 col-sm-12 mb-4 mb-md-0">
                <ul class="list-unstyled col-lg-12 col-md-12 col-sm-6 mb-0">
                    <li>
                    <a href="#!" class="text-decoration-none text-white">About us</a>
                    </li>
                    <li>
                    <a href="#!" class="text-decoration-none text-white">Kittens</a>
                    </li>
                    <li>
                    <a href="#!" class="text-decoration-none text-white">Our cats</a>
                    </li>
                </ul>
                <ul class="list-unstyled col-lg-12 col-md-12 col-sm-6 mb-0">    
                    <li>
                    <a href="#!" class="text-decoration-none text-white">Gallery</a>
                    </li>
                    <li>
                    <a href="#!" class="text-decoration-none text-white">About breed</a>
                    </li>
                    <li>
                    <a href="#!" class="text-decoration-none text-white">Contacts</a>
                    </li>
                </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-3 col-sm-12 mb-4 mb-md-0">
                <h6>Contact us</h6>

                <ul class="list-unstyled">
                    <li>
                    <a href="tel:+37125614622" class="text-decoration-none text-white">+371(25)614-622</a>
                    </li>
                    <li>
                    <a href="mailto:karoleinga@gmail.com" class="text-decoration-none text-white">karoleinga@gmail.com</a>
                    </li>
                </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-2 col-sm-12 mb-4 mb-md-0">
                <h6>Follow us</h6>

                <ul class="list-unstyled">
                    <li>
                    <a href="tel:+37125614622" class="text-decoration-none text-white">+371(25)614-622</a>
                    </li>
                </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer --> 